<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录/注册</title>
    <link rel="stylesheet" href="login.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<div class="container">
    <div>
        <h2>登录 / 注册</h2>
        <form id="loginForm" class="form-content">
            <div class="form-group">
                <label>用户名:</label>
                <input type="text" id="loginUsername" name="loginUsername" required>
            </div>
            <div class="form-group">
                <label>密码:</label>
                <input type="password" id="loginPassword" name="loginPassword" required>
            </div>
            <div class="tab">
                <button class="tabs1">登录</button>
                <button class="tabs2">注册</button>
            </div>
        </form>


    </div>
</div>
<script src="login.js"></script>
</body>
</html>
