<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发现好音乐</title>
    <link rel="stylesheet" href="index.css">
    <script src="./index.js"></script>
</head>

<body>
<div id="music-container">

    <div class="left-container">
        <h1>发现好音乐</h1>
        <div class="second-title" style="margin-left: 110px;">寻找心里的声音</div>
        <table class="table">
            <tr>
                <th>歌名</th>
                <th>歌手</th>
                <th>点播</th>
            </tr>
            <tr>
                <td>匆匆</td>
                <td>陈一发儿</td>
                <td>
                    <img class="play-button" src="../../public/play.png">
                </td>
            </tr>
            <tr>
                <td>蓝莲花</td>
                <td>许巍</td>
                <td>
                    <img class="play-button" src="../../public/play.png">
                </td>
            </tr>
            <tr>
                <td>说谎</td>
                <td>陈一发儿</td>
                <td>
                    <img class="play-button" src="../../public/play.png">
                </td>
            </tr>
            <tr>
                <td>白山茶</td>
                <td>陈一发儿</td>
                <td>
                    <img class="play-button" src="../../public/play.png">
                </td>
            </tr>
            <tr>
                <td>起风了</td>
                <td>陈一发儿</td>
                <td>
                    <img class="play-button" src="../../public/play.png">
                </td>
            </tr>
            <tr>
                <td>漠河舞厅</td>
                <td>柳爽</td>
                <td>
                    <img class="play-button" src="../../public/play.png">
                </td>
            </tr>
            <tr>
                <td>猫说</td>
                <td>黑屋乐队</td>
                <td>
                    <img class="play-button" src="../../public/play.png">
                </td>
            </tr>

        </table>
    </div>
    <div class="bottom-container">
        <!--左侧播放区-->
        <div class="player-area">
            <!--封面在左侧-->
            <img style="width: 50px" height="auto" src="../../public/coverImages/images1.jpg" alt="封面">
            <!--音乐播放区-->
            <audio id="audioId">
                <source src="" type="audio/mpeg">
                此浏览器版本不支持audio,建议选用chrome,edge等主流浏览器。
            </audio>
            <div class="center-box-of-bottom">
                <div>
                    <!--空格占位-->
                    &nbsp;
                </div>
                <div id="progress">
                    <div id="progress-bar"></div>
                </div>
                <div class="songInfomation">
                    <span id="init-time">00:00</span> <span> /  03:53</span>
                </div>
            </div>
        </div>
        <!--右侧功能区-->
        <div class="function-area">
            <img style="margin: auto 0" src="../../public/prev.png" onclick="prevSong()">
            <img id="playMusic" style="height: 55px; width: auto" src="../../public/playmusic.png">
            <img id="pauseMusic" style="height: 55px; width: auto" src="../../public/pause.png">
            <img style="margin: auto 0" src="../../public/next.png" onclick="nextSong()">
        </div>
    </div>

</div>
<script>

    const audio = document.getElementById("audioId");
    const progressBar = document.getElementById("progress-bar");
    const playMusic = document.getElementById('playMusic');
    const pauseMusic = document.getElementById('pauseMusic');

    // 初始化
    pauseMusic.style.display = 'none';
    playMusic.style.display = 'inline-block';

    playMusic.addEventListener('click', function () { //点击播放
        pauseMusic.style.display = 'inline-block';
        playMusic.style.display = 'none';
        playAudio();
    });
    pauseMusic.addEventListener('click', function () { //点击暂停
        pauseMusic.style.display = 'none';
        playMusic.style.display = 'inline-block';
        pauseAudio();
        //停止计时器
    });

    function updateProgress() {
        let progress = (audio.currentTime / audio.duration) * 100;
        progressBar.style.width = progress + "%";
        if (!audio.paused && !audio.ended) {
            setTimeout(updateProgress, 500);
        }
    }

    let timeSpan = document.getElementById('init-time');
    let currentTime = 0;  //表示时间从0开始
    // 定义定时器变量
    let timer;

    // 每秒增加一次时间，并更新显示
    function updateTime() {
        currentTime++; // 增加一秒
        let minutes = Math.floor(currentTime / 60);
        let seconds = currentTime % 60;
        // 格式化时间
        let newTimeFormat = (minutes < 10 ? '0' : '') + minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
        // 更新span元素的文本内容
        timeSpan.textContent = newTimeFormat;
    }

    // 启动定时器
    function startTimer() {
        timer = setInterval(updateTime, 1000); // 每秒更新一次
    }

    //停止定时器
    function pauseInterval() {
        clearInterval(timer); // 清除定时器
    }

    function playAudio() {
        audio.play();
        startTimer();
        updateProgress();
    }

    function pauseAudio() {
        audio.pause();
        pauseInterval();
    }

    /*歌曲点播*/
    let songCells = document.querySelectorAll('td');
    songCells.forEach(function (e) {
        e.addEventListener('click', function () {
            let songName = this.parentNode.children[0].textContent;
            let audio = document.getElementById("audioId");
            let newSource = `../../music/${songName}.mp3`; // 新音频文件的路径
            audio.src = newSource;
            audio.load(); // 重新加载音频以便播放新音频
            //把变量指控 从0秒开始
            currentTime = 0;
            clearInterval(timer)
            playAudio();
            pauseMusic.style.display = 'inline-block';
            playMusic.style.display = 'none';
        });
    });

    function prevSong(){
        let audio = document.getElementById("audioId");
        let newSource = '../../music/匆匆.mp3'; // 新音频文件的路径
        audio.src = newSource;
        audio.load(); // 重新加载音频以便播放新音频
        //把变量指控 从0秒开始
        currentTime = 0;
        clearInterval(timer)
        playAudio();
        pauseMusic.style.display = 'inline-block';
        playMusic.style.display = 'none';
    };
    function  nextSong(){
        let audio = document.getElementById("audioId");
        let newSource = '../../music/起风了.mp3'; // 新音频文件的路径
        audio.src = newSource;
        audio.load(); // 重新加载音频以便播放新音频
        //把变量指控 从0秒开始
        currentTime = 0;
        clearInterval(timer)
        playAudio();
        pauseMusic.style.display = 'inline-block';
        playMusic.style.display = 'none';
    }


</script>
</body>

</html>
