* {
    padding: 0;
    margin: 0;
}

body {
    user-select: none; /*取消用户点击能力*/
    background: url(../../public/background.jpg) no-repeat;
}

#music-container {
    border-radius: 14px;
    color: #333;
    height: 500px;
    margin: 50px 0 0 150px;
    width: 740px;
    position: absolute;
}

.second-title {
    font-size: 20px;
    margin-bottom: 15px;
    color: #a7a7a7;
}

.left-container {
    position: relative;
    height: 450px;
    width: 600px;
    padding: 20px 50px;
    /*设置透明度*/
    background: rgba(255, 255, 255, 0.9);
    border-radius: 14px;
}

.play-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.table {
    border-collapse: collapse;
    width: 90%;
    font-size: 19px;

}

.table tr {
    margin-left: 20px;
}

.table tr:hover {
    background-color: #cccccc;
}

.table tr td {
    text-align: center;
    padding: 3px;
}

.bottom-container {
    margin: 50px 0;
    height: 49px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);

}

.player-area {
    display: flex;
    float: left;
    height: inherit;
    width: 70%;

}

.function-area {
    display: flex;
    float: right;
    text-align: center;
    width: 25%;

}

.function-area img {
    cursor: pointer;
    margin: 0 18px;
    height: 35px;
    width: 35px;
}

#progress {
    display: flex;
    margin: 0 0 10px 25px;
    width: 80%;
    height: 3px;
    background-color: black;
    align-self: end;
    position: relative;

}
#progress-bar {
    width: 0%;
    height: 100%;
    background-color: lightskyblue;
    position: absolute;
    top: 0;
}
.center-box-of-bottom{
    width: 100%;
}
.songInfomation{
    float: right;
    width: 30%;
}
.songName{
    float: left;
    margin-left: 30px;
}
