<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的乐库</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="center-box">
        <div class="myLib">
            <span class="left-box">随乐而起</span>
            <span class="right-box">有感而发</span>
        </div>
        <br>
        <div style="position: relative; top: 3%; left: 5%; color: #aaa; font-size: 24px;">今日热榜：</div>

        <div class="container">
            <div class="item">
                <img src="../../public/coverImages/images1.jpg" class="cover-image">
                <div class="artist">
                    火车日记——丢火车
                </div>
            </div>

            <div class="item">
                <img src="../../public/coverImages/images2.jpg" class="cover-image">
                <div class="artist">
                    花桥——回春丹
                </div>
            </div>

            <div class="item">
                <img src="../../public/coverImages/images10.jpg" class="cover-image">
                <div class="artist">
                    九零后日记——小海
                </div>
            </div>
            <div class="item">
                <img src="../../public/coverImages/images7.jpg" class="cover-image">
                <div class="artist">
                    想去海边——夏日入侵企画
                </div>
            </div>
            <div class="item">
                <img src="../../public/coverImages/images6.jpg" class="cover-image">
                <div class="artist">
                    浮生——丢火车
                </div>
            </div>

        </div>
        <div class="bottom-box">

            <span class="loveSong">
                <span>
                    <img style="width: 40px;height: auto;" src="喜欢.png" />
                </span>
                <span id="lovesongs">喜欢的音乐</span>
            </span>
            <div class="mySongList">
                <p class="song">
                <table class="table">
                    <tr>
                        <th>歌名</th>
                        <th>歌手</th>
                        <th>时长</th>
                        <th>下载</th>
                        <th>点播</th>
                    </tr>
                    <tr>
                        <td>童话镇</td>
                        <td>陈一发儿</td>
                        <td>05:00</td>
                        <td>
                            <img src="../../public/下载.png">
                        </td>
                        <td>
                            <img class="play-button" src="../../public/play.png" data-song="music/童话镇.mp3"
                                onclick="plays(this)">
                        </td>
                    </tr>
                    <tr>
                        <td>蓝莲花</td>
                        <td>许巍</td>
                        <td>04:30</td>
                        <td>
                            <img src="../../public/下载.png">
                        </td>
                        <td>
                            <img class="play-button" src="../../public/play.png" data-song="music/蓝莲花.mp3"
                                onclick="plays(this)">
                        </td>
                    </tr>
                    <tr>
                        <td>说谎</td>
                        <td>林宥嘉</td>
                        <td>03:51</td>
                        <td>
                            <img src="../../public/下载.png">
                        </td>
                        <td>
                            <img class="play-button" src="../../public/play.png" data-song="music/说谎.mp3"
                                onclick="plays(this)">
                        </td>
                    </tr>
                    <tr>
                        <td>白山茶</td>
                        <td>陈一发儿</td>
                        <td>03:58</td>
                        <td>
                            <img src="../../public/下载.png">
                        </td>
                        <td>
                            <img class="play-button" src="../../public/play.png" data-song="music/白山茶.mp3"
                                onclick="plays(this)">
                        </td>
                    </tr>
                    <tr>
                        <td>起风了</td>
                        <td>林俊杰</td>
                        <td>04:57</td>
                        <td>
                            <img src="../../public/下载.png">
                        </td>
                        <td>
                            <img class="play-button" src="../../public/play.png" data-song="music/起风了.mp3"
                                onclick="plays(this)">
                        </td>
                    </tr>
                    <tr>
                        <td>漠河舞厅</td>
                        <td>柳爽</td>
                        <td>05:34</td>
                        <td>
                            <img src="../../public/下载.png">
                        </td>
                        <td>
                            <img class="play-button" src="../../public/play.png" data-song="music/漠河舞厅.mp3"
                                onclick="plays(this)">
                        </td>
                    </tr>
                    <tr>
                        <td>起风了</td>
                        <td>林俊杰</td>
                        <td>04:57</td>
                        <td>
                            <img src="../../public/下载.png">
                        </td>
                        <td>
                            <img class="play-button" src="../../public/play.png" data-song="music/起风了.mp3"
                                onclick="plays(this)">
                        </td>
                    </tr>
                    <tr>
                        <td>10000Hours</td>
                        <td>Justin Bieber</td>
                        <td>5:00</td>
                        <td>
                            <img src="../../public/下载.png">
                        </td>
                        <td>
                            <img class="play-button" src="../../public/play.png" data-song="music/10000Hours.mp3"
                                onclick="plays(this)">
                        </td>
                    </tr>
                    <tr>
                        <td>歌曲</td>
                        <td>林俊杰</td>
                        <td>04:57</td>
                        <td>
                            <img src="../../public/下载.png">
                        </td>
                        <td>
                            <img class="play-button" src="../../public/play.png" data-song="music/起风了.mp3"
                                onclick="plays(this)">
                        </td>
                    </tr>
                    <tr>
                        <td>歌曲</td>
                        <td>林俊杰</td>
                        <td>04:57</td>
                        <td>
                            <img src="../../public/下载.png">
                        </td>
                        <td>
                            <img class="play-button" src="../../public/play.png" data-song="music/起风了.mp3"
                                onclick="plays(this)">
                        </td>
                    </tr>
                    <tr>
                        <td>歌曲</td>
                        <td>林俊杰</td>
                        <td>04:57</td>
                        <td>
                            <img src="../../public/下载.png">
                        </td>
                        <td>
                            <img class="play-button" src="../../public/play.png" data-song="music/起风了.mp3"
                                onclick="plays(this)">
                        </td>
                    </tr>
                    <tr>
                        <td>歌曲</td>
                        <td>林俊杰</td>
                        <td>04:57</td>
                        <td>
                            <img src="../../public/下载.png">
                        </td>
                        <td>
                            <img class="play-button" src="../../public/play.png" data-song="music/起风了.mp3"
                                onclick="plays(this)">
                        </td>
                    </tr>
                </table>

                </p>
            </div>
        </div>
    </div>

</body>
<script>
    function plays(e) {
        // 获取元素的 data-song 属性值
        let songPath = e.getAttribute('data-song');
        //把歌曲路径传递给js
        parent.postMessage({ songPath: songPath }, '*');

    }
</script>

</html>