<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的乐库</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="center-box">
    <div class="myLib">
        <span class="left-box">随乐而起</span>
        <span class="right-box">有感而发</span>
    </div>
    <div class="container">
        <div class="item">
            <img src="../../public/coverImages/images1.jpg" class="cover-image">
            <div class="artist">
                火车日记——丢火车
            </div>
        </div>

        <div class="item">
            <img src="../../public/coverImages/images2.jpg" class="cover-image">
            <div class="artist">
                花桥——回春丹
            </div>
        </div>

        <div class="item">
            <img src="../../public/coverImages/images10.jpg" class="cover-image">
            <div class="artist">
                九零后日记——小海
            </div>
        </div>
        <div class="item">
            <img src="../../public/coverImages/images7.jpg" class="cover-image">
            <div class="artist">
                想去海边——夏日入侵企画
            </div>
        </div>
        <div class="item">
            <img src="../../public/coverImages/images6.jpg" class="cover-image">
            <div class="artist">
                浮生——丢火车
            </div>
        </div>

    </div>
    <div class="bottom-box">
    </div>
</div>

</body>
</html>
