<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的乐库</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="center-box">
    <div class="hotRank">
        <img style="width: 40px;height: auto;" src="火苗.png"/>
        <span id="hot">歌曲热榜</span>
    </div>

    <div class="container">
        <div class="every-box">
            <div class="number-area">
                1.
            </div>
            <div>
                <img class="every-image" src="../../public/coverImages/images1.jpg" alt="">
            </div>
            <div>
                <img class="play" src="../../public/play.png" alt="">
            </div>
            <!--曲名 信息-->
            <div class="songName">
                浮生 >
                <span class="songer">丢火车</span>
               <div class="tagBox">
                   <span>TOP100</span>
                   <span>2024年度得分</span>
               </div>
            </div>

        </div>
        <div class="every-box">
            <div class="number-area Second">
                2.
            </div>
            <div>
                <img class="every-image" src="../../public/coverImages/images3.jpg" alt="">
            </div>
            <div>
                <img class="play" src="../../public/play.png" alt="">
            </div>
            <!--曲名 信息-->
            <div class="songName">
                Forgive Me Friend >
                <span class="songer">Smith Thell Swedish Jam Factory</span>
                <div class="tagBox">
                    <span>TOP10</span>
                    <span>2024年度得分</span>
                    <span>连续三周TOP10</span>
                </div>
            </div>

        </div>
        <div class="every-box">
            <div class="number-area third">
                3.
            </div>
            <div>
                <img class="every-image" src="../../public/coverImages/images4.jpg" alt="">
            </div>
            <div>
                <img class="play" src="../../public/play.png" alt="">
            </div>
            <!--曲名 信息-->
            <div class="songName">
                Checklist (feat. Chromeo) >
                <span class="songer">MAX Chromeo</span>
                <div class="tagBox">
                    <span>2024年度得分</span>
                </div>
            </div>

        </div>
        <div class="every-box">
            <div class="number-area forth">
                4.
            </div>
            <div>
                <img class="every-image" src="../../public/coverImages/images2.jpg" alt="">
            </div>
            <div>
                <img class="play" src="../../public/play.png" alt="">
            </div>
            <!--曲名 信息-->
            <div class="songName">
                浮生 >
                <span class="songer">丢火车</span>
                <div class="tagBox">
                    <span>TOP3</span>
                    <span>连续三周TOP10</span>
                </div>
            </div>

        </div>
        <div class="searhMore">
            查看更多
        </div>
    </div>
</div>

</body>
</html>
