@font-face {
    font-family: "阿里妈妈方圆体 VF Regular";
    src: url("../fonts/AlimamaFangYuanTiVF-Thin.woff2") format("woff2"),
    url("//../../fonts/AlimamaFangYuanTiVF-Thin.woff") format("woff");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    margin: 0;
    font-family: "阿里妈妈方圆体 VF Regular";
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    background-color: #333333;
    height: 70px;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo {
    height: inherit;
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.logo img {
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

.logo a {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.ul-table {
    /*display: flex;*/
    list-style: none;
    margin-left: 45px;
    color: white;
    float: left;

}

.ul-table li {
    display: inline-block;
    color: #ccc;
    line-height: 70px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
    letter-spacing: normal;
}

.ul-table li a {
    display: block;
    height: 100%;
    white-space: nowrap;
    flex-wrap: nowrap;
    color: #ccc;
    font-size: 13px;
}

/*.ul-table li:hover {
    background-color: #000000;
}

.first-fun {
    background-color: #000000;
}*/

.search {
    display: flex;
    align-self: center;
    justify-content: center;
}

.search .searchBox {
    padding: 8px;
    border-radius: 20px;
    color: #9b9b9b;
    width: 229px;
    margin-left: 25px;
    font-size: 13px;
}

.searchImg {
    width: 35px;
    height: auto;
    border: none;
    align-self: center;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}

.login {
    display: block;
    padding: 5px 4px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    width: 80px;
    font-size: 14px;
    text-align: center;
    margin: auto 40px;
}

.welcome {
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    margin: auto 60px;
    transition: background-color 0.3s ease;
}

.welcome div {
    margin: auto 0;
    font-size: 18px;
}

/* 样式化按钮 */
#logoutButton {
    color: white;
    margin-left: 40px;
    padding: 5px 20px;
}

#logoutButton:hover {
    background-color: rgba(175, 241, 189, 0.45);
    border-radius: 20px;
}

/*footer部分*/
.footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    color: #333;
}

.footer a {
    color: #666;
    text-decoration: none;
}

.footer a:hover {
    color: #333;
}

.message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b4eeb6;
    color: white;
    padding: 15px;
    border-radius: 10px;
    z-index: 9999;
}
